<h1>Edit Profile</h1>
<br>
<%= render partial: 'form', locals: {
                                      path: "/users/#{@new_user.id}/edit",
                                      method: :patch,
                                      button_text: 'Save Changes'
                                    } %>
