<h1>Register</h1>
<br>
<%= render partial: 'form', locals: {
                                      path: "/register",
                                      method: :post,
                                      button_text: 'Create New User'
                                    } %>
