<div class="jumbotron">
  <h1 class="display-4">Welcome to Coffee Town</h1>
  <p class="lead">We strive to fulfill all of your coffee-related needs.</p>
  <hr class="my-4">
  <p>Click in the links below</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/merchants" role="button">All Merchants</a>
    <a class="btn btn-primary btn-lg" href="/items" role="button">All Items</a>
  </p>
</div>
