<h1 align = "center">Merchants</h1>
<section class = "grid-container">
  <% @merchants.each do |merchant|%>
    <section class = "grid-item" id="merchant-<%= merchant.id %>">
      <h2><%=link_to merchant.name, @path + "/merchants/#{merchant.id}"%></h2>
    </section>
  <% end %>
</section>
