<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>

  </style>
</head>

<body class="rails-default-error-page">
  <!-- This file lives in public/404.html -->
  <div class="dialog">
    <div class='404'>
      <h1>404 Page Not Found</h1>
      <div class='404-img'>
        <img src='https://cdn.pixabay.com/photo/2015/09/26/16/20/coffee-959281_960_720.jpg' >
      </div>
    </div>
  </div>
</body>
</html>
